

<br>
<div class = "container">

    <div class = "row">
      <div class = "col-sm-6">
        <br>
        <div id="charts" style="width:100%;height:500px;"></div>
      </div>

      <div class = "col-sm-6">
        <br>
        <div id="gmap" style='width: 100%; height:500px;'></div> 
     </div>
    </div> 
    
    <br>
    <br>
    <br>

    <h2>Detailed information</h2>
    <br>

    <div class="table-responsive"> 
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th> Image name  </th>
                <th> Frequency   </th>   
                <th> Longitude   </th>  
                <th> Latitude    </th>
      
            </tr>
        </thead>

        <tbody>
          <% @gram.each do |item| %>
            <tr>                
              <td> <%= item.echogram_name %> </td>
              <td> <%= item.frequency.to_s + " kHz" %> </td>
              <td> <%= item.longitude %> </td>
              <td> <%= item.latitude %> </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    </div>


    <br>
    <br>

    <div class="table-responsive"> 
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
            <th> Species code </th>  
            <th> Scientific name </th>
            <th> Common name </th>
            <th> Individuals num </th>   
            <th> Percentage </th>
            <th> Mean length </th>       
            </tr>
        </thead>

        <tbody>
            <% @composition.each do |item| %>
            <tr>
                <td> <%= item.scode %> </td>
                <td> <%= item.sciname %> </td>
                <td> <%= item.engname %> </td>
                <td> <%= item.num %> </td>
                <td> <%= (item.percent.to_d * 100).to_s + "%" %> </td>
                <td> <%= item.avglength %> </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>

</div>

   
    <div class="container">
    <h2>Echogram images</h2>
        <div class="row">
            <div class="col-md-offset-2 col-lg-offset-2 col-xl-offset-4">
            <% @gram.each do |item| %> <br><br>
                <h4> Echogram frequency: <%= item.frequency.to_s + " kHz" %> </h4>                                
                <% name = "/images/" + item.image_filename.to_s %>
                <%= image_tag(name, options = {size: "800x600", class: "img-responsive"})%>  
            <% end %>
            </div>
        </div>
    </div>


    <div class="container">
        <%= link_to "Back", :back,  class:"btn btn-default btn-lg" %> 
    </div>

<script>
    function initMap() {
        var map;
        var marker;
        var location = {lat: <%=raw @gram.first.latitude %>, lng: <%=raw @gram.first.longitude %>};
        var  ref = location;

        map = new google.maps.Map(
        document.getElementById('gmap'), {zoom: 4, center: ref,mapTypeId: 'satellite'});
        marker = new google.maps.Marker({
                                            position: location, 
                                            map: map,
                                            title: 'Echogram location' 
                                        });
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= Google_Map_API%>&callback=initMap">
</script>

 <script>
    $(function () {
        
            Highcharts.chart('charts', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45,
                        beta: 0
                    }
                },
                title: {
                    text: 'Species Compositon'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    name: 'percentage',
                    colorByPoint: true,
                    data: <%= raw @data%>
                }]
            });
        });
 </script>

 