

<div class = "container">
    <div class = "row">
    <h4> Filter by </h4>
    <div>
        <%= form_tag( {}, {method: "get"}) do %>
            <%= label_tag "Species:" %>
            <%= select_tag "species", options_for_select(@species_list) %>
            <%= label_tag "Mean length:" %>
            <%= select_tag "avglength", options_for_select(@avglength_list) %>
            <%= label_tag "Percentage:" %>
            <%= select_tag "percent", options_for_select(@percent_list) %>
            <%= submit_tag("Search") %>
        <% end %>
    </div> 




    <h5> <%= @text_spec %> </h5>
   

    <%if @count != 0 %>
        <%= render "all_records" %>
    <% end %>

</div>
