<h3> querygram page </h3>
<%= will_paginate @display%>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Echogram Image</th>
        <th>Record Date</th>
        <th>Uploader</th>
        <th>Species</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>More Info</th>
        <th colspan="10"></th>
      </tr>
    </thead>

    <tbody>
      <% @display.each do |item| %>
        <tr>
          <td>
              <% name = "/images/" + item.echogram_name.to_s %>
              <%= image_tag(name, options = {size: "200x150"})%>           
          </td>
          <td> <%= item.record_date %> </td>
          <td> <%= item.name %> </td>
          <td> <%= @h["#{item.echogram_name.to_s }"] %> </td>
          <td> longitude </td>
          <td> latitude </td>
          <td> <%= "Details" %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @display%>