
<div class = "container">
  <div class = "row" >
      <div class = "col-sm-6">
          <h2> 
              Filter by  
              <a href="#" onclick="return false;" data-toggle="popover" 
                  data-trigger="focus" data-placement="right"  title="How it works?" 
                  data-content="1) Select from the dropdown menu the filters you want to use for your search. 
                                  You can filter for 1 category, for all 3 or combine them as you like.
                                2) Click on search button. The results appear above the filter. 
                                3) Click on the Echogram image to see the details.">
                  <span class="glyphicon glyphicon-info-sign" style="font-size:20px;"></span>
              </a> 
          </h2>        
          <%= form_tag( {}, {method: "get", id: "filter"}) do %>
              <%= label_tag "Species:" %>
              <%= select_tag "species", options_for_select(@species_list) %>
              <%= label_tag "Mean length:" %>
              <%= select_tag "avglength", options_for_select(@avglength_list) %>
              <%= label_tag "Percentage:" %>
              <%= select_tag "percent", options_for_select(@percent_list) %>
              <%= submit_tag("Filter", class: "btn btn-default btn-lg") %>
          <% end %>
      </div> 

      <div class = "col-sm-6">
          <h2> Search by </h2> 
          <P> 
              <strong>
              1) Enter a string you want to search.<br>
              </strong>
                 e.g. If you want to get all images in year 2003, you can input
                 "2003" as a searching string.<br>
                 <strong>
              2) The results are all echogram images whose file name 
                 contain the string you input.<br>
                 </strong>
          </P>
          <%= form_tag( {}, {method: "get", id: "filter"}) do %>
              <%= label_tag "Enter a string to search:" %>
              <%= text_field_tag(:searching )%>
              <%= submit_tag("Search", class: "btn btn-default btn-lg") %>
          <% end %>
      </div> 
  </div>
  <br>
  <h5> <%= @text_spec %> </h5> 

</div>

<%if @count != 0 %>
    <%= render "all_records" %>
<% end %>


<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
