<% provide(:title, @user.name) %>

<div class="container">
    <div class="uploadpage">
        <h2>User Profile</h2> <br>
        <p>
            <strong> Name:</strong>
            <%= @user.name %>
        </p>
        <p>
            <strong> Email:</strong>
            <%= @user.email %>
        </p>
        <p>
            <strong>Phone:</strong>
            <%= @user.phone %>
        </p>
    </div>

    <br>

    <%= link_to 'Back', :back,  class:"btn btn-default btn-lg"%> |

    <% if current_user.id == 1 %>   
        <%= link_to 'Set Admin', admin_path(:id => @user.id),  class:"btn btn-default btn-lg"%> |
    <% end %>

    <%= link_to "Edit Profile", edit_user_path(current_user),  class:"btn btn-default btn-lg"%>
</div>
