<%= form_with(model: echogram_temp, local: true) do |form| %>

  <% if echogram_temp.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(echogram_temp.errors.count, "errors") %> occured:</h3>
      <ul>
      <% echogram_temp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag "Latitude:" %>
    <%= form.text_field :latitude %>
  </div>

  <br>

  <div class="field">
    <%= label_tag "Longitude:" %>
    <%= form.text_field :longitude %>
  </div>

  <br>

  <div class="field">
    <%= label_tag "Select an image:" %>
    <%= form.file_field :gram %>

    <% if echogram_temp.gram.attached? && echogram_temp.gram.representable? %>
      <br>
      <%= image_tag(echogram_temp.gram.representation(resize: '250x250').processed) %>
    <% end %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Upload",  class:"btn btn-primary btn-block btn-lg"%>
  </div>

<% end %>


