



<div class = "container">
  <h3>My uploads:</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
        <% @display.each do |item| %>
          <tr>                
              <td>
                  <% if item.gram.attached? %>            
                      <%= link_to image_tag(item.gram.representation(resize: '200x150').processed),item %> 
                  <% end %> 
              </td>

              <td> 
                  <%= item.image_filename %> 
                  <br>                                       
                  <br>
                  <% if item.editable %>
                     <%= link_to "Delete", item, method: :delete, data: { confirm: 'Are you sure?' }   %> 
                  <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>


    <div class="col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
      <%= will_paginate @display%>
    </div>


    
    <%= link_to 'Back', :back %> |
    <%= link_to 'Upload New Images', new_echogram_temp_path %> |

    <%= link_to  button_tag("Confirm Uploading", data: { confirm: "Are you sure?" } ), submit_path %>
