

<h3>My uploads:</h3>


<table>
  <thead>
    <tr>
      <th>Image filename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @echogram_temps.each do |echogram_temp| %>
      <tr>
        <td><%= echogram_temp.image_filename %></td>
        <td><%= link_to 'Show', echogram_temp %></td>
        <td><%= link_to 'Delete', echogram_temp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', :back %> |
<%= link_to 'Upload a New Echogram', new_echogram_temp_path %>
