
<p>
  <strong>Echogram name:</strong>
  <%= @echogram_temp.echogram_name %>
</p>

<p>
  <strong>Image filename:</strong>
  <%= @echogram_temp.image_filename %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @echogram_temp.frequency %> kHz
</p>

<p>
  <strong>Latitude:</strong>
  <%= @echogram_temp.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @echogram_temp.longitude %>
</p>

<p>
  <strong>Byte size: </strong> <%= @echogram_temp.gram.byte_size/1024 %> kb
</p>


<p>
  <strong>Image width: </strong> <%= @echogram_temp.gram.metadata[:width] %> pix
</p>

<p>
  <strong>Image height:</strong> <%= @echogram_temp.gram.metadata[:height] %> pix
</p>

<p>
  <strong> Echogram Image: </strong> <br><br>
  <% if @echogram_temp.gram.attached? %>
      <%= image_tag(@echogram_temp.gram.representation(resize: '400x300').processed) %>
  <% end %>
</p>




  <p>
    <strong>Species Composition:</strong>
  </p>
  <table class="table table-bordered">
      <thead class="thead-dark">
          <tr>
            <th> Species </th>
            <th> Numbers </th>   
            <th> Mean length </th> 
            <th> Operation </th>      
          </tr>
      </thead>

      <tbody>
          <% @composition.each do |item| %>
            <tr>
                <td> <%= item.species %> </td>
                <td> <%= item.numbers %> </td>
                <td> <%= item.mean_length %> </td>
                <td> 
                    <%= link_to "Delete", composition_temp_path(:comp_id => item.id, :gram_id => params[:id]), 
                                          method: :delete, 
                                          data: {gram_id: params[:id], 
                                          confirm: 'Are you sure?' }  %> 
                </td>
            </tr>
          <% end %>
      </tbody>
  </table>




<%= link_to 'Back', echogram_temps_path %> |
<%= link_to 'Add Compositions', new_composition_temp_path(:gram_id => params[:id])%>

