<%= form_with(model: composition_temp, local: true) do |form| %>
  <% if composition_temp.errors.any? %>
    <div id="error_explanation">
      <h3>
          <%= pluralize(composition_temp.errors.count, "error") %> 
          occured:
      </h3>

      <ul>
      <% composition_temp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br>

  <div class>
    <%= label_tag "Echogram image:" %>
    <%= form.select "echogram_name", options_for_select(@default) %>
  </div>

  <br>

  <div class="field">
    <%= label_tag "Species:" %>
    <%= form.select "species", options_for_select(@all) %>
  </div>

  <br>

  <div class="field">
  <%= label_tag "Individual numbers:" %>
    <%= form.number_field :numbers %>
  </div>

  <br>

  <div class="field">
  <%= label_tag "Mean length:" %>
    <%= form.text_field :mean_length %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Add", class:"btn btn-primary btn-block btn-lg"%>
  </div>
<% end %>
