<p id="notice"><%= notice %></p>

<h3>Composition Temps</h3>

<table>
  <thead>
    <tr>
      <th>Echogram name</th>
      <th>Species</th>
      <th>Numbers</th>
      <th>Mean length</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @composition_temps.each do |composition_temp| %>
      <tr>
        <td><%= composition_temp.echogram_name %></td>
        <td><%= composition_temp.species %></td>
        <td><%= composition_temp.numbers %></td>
        <td><%= composition_temp.mean_length %></td>
        <td><%= link_to 'Show', composition_temp %></td>
        <td><%= link_to 'Destroy', composition_temp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Composition Temp', new_composition_temp_path %>
