
<p>
  <strong>Echogram name:</strong>
  <%= @composition_temp.echogram_name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @composition_temp.species %>
</p>

<p>
  <strong>Individual numbers:</strong>
  <%= @composition_temp.numbers %>
</p>



<p>
  <strong>Mean length:</strong>
  <%= @composition_temp.mean_length %>
</p>

<%= link_to 'Back', composition_temps_path %>
