

<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
       <a class="navbar-brand"><img src="/images/logo.png" style="width:50px;height:50px;" class="img-responsive"></a>
       <%= link_to "EchoLib", root_path, class: "logo" %>      
        <nav>
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed"
                      data-toggle="collapse"
                      data-target="#bs-example-navbar-collapse-1"
                      aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse"
                id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><%= link_to "Home",          root_path %></li>
              <li><%= link_to "Query",         querygram_path %></li>
              <li><%= link_to "Upload",        new_echogram_temp_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Help",          pdf_path, target: :_blank %></li>
              <li><%= link_to "SignUp",        signup_path %></li>
              <% if logged_in? %>
                   <% if current_user.admin? %>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "My Profile", current_user %></li>
                          <li><%= link_to "All Users", users_path %></li>
                          <li class="divider"></li>
                          <li>
                            <%= link_to "Log out", logout_path, method: :delete %>
                          </li>
                        </ul>
                      </li>
                   <% else %>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "My Profile", current_user %></li>
                          <li><%= link_to "MyUpload", echogram_temps_path %></li>
                          <li class="divider"></li>
                          <li>
                            <%= link_to "Log out", logout_path, method: :delete %>
                          </li>
                        </ul>
                      </li>
                   <% end %>
              <% else %>
                <li><%= link_to "Log in", login_path %></li>
              <% end %>
           </ul>
          </div>
        </nav>
      </div>
    </header>
